body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 80px;
  background-color: #E2F9FF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.main-container {
  width: 100%;
  max-width: 1920px;
  height: 100% ;
  max-height: 1080px;
  background-color: #3A3A3A;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.ongoing-projects {
  margin-bottom: 40px;
}

.ongoing-projects h2 {
  color: #FFF;
  margin-bottom: 20px;
}

.project-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 200px;
  height: 150px;
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.recent-and-gantt {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  height:100%;
  gap: 20px;
}

.recent-issue-container, .gantt-chart-container {
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.recent-issue-container {
  width: 508px;
  height: 422px;
  flex-shrink: 0;
}

.gantt-chart-container {
  width: 50vw;
  height: 422px;
  flex-shrink: 0;
}

.title {
  color: #FFF;
  margin-bottom: 20px;
  margin-left: 10px;
}

.recent-issues {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.issue {
  background-color: #F9F9F9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 20px;
}